.env
.env.local
uv.lock
.venv
notebooks
data/*
__pycache__/
.ipynb_checkpoints/
pyproject.toml
.python-version
.vscode
airflow/logs
*.log
.DS_Store
*.xlsx
.bsp
.metals
.scala-build
.DS_Store
*.pdf
trino/plugins/trino-delta-lake-413.zip
trino/plugins/delta/*
*.jar
superset/superset_data/